<div class="kakomi-maru4">
  <span class="title-maru4">退会ページ</span>
    <h2><strong>本当に退会しますか？</strong></h2>
    <div class="messages">
        退会すると、会員登録情報やこれまでの記録が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
    </div>
    <div class="unsub_button"><%= link_to "退会しない", user_path(current_user.id), class: "btn btn-primary", style: "text-align: center;" %></div>
    <div class="unsub_button"><%= link_to "退会する", user_withdraw_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-danger" %></div>
</div>