
<h2>新着投稿</h2>

<ul>
  <% 5.times do |i| %>
    <li><%= link_to "新着投稿", "#" %></li>
  <% end %>
</ul>

<h2>ランキング</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "ランキング", "#" %></li>
  <% end %>
</ul>
