<p class="about">
  <div class="kakomi-maru4"><span class="title-maru4">このアプリについて</span>
    このアプリは、ズボラな方達が使用することを大前提に作られた
    筋トレ（数分用）インターバルタイマーアプリです。
  </div>
</p>
<div class="kakomi-maru4"><span class="title-maru4">このアプリの使い方</span>
  <p>
    <ul class="use">
      <li>
        測りたい時間（秒数）やセット回数を入力し、すぐに開始ボタンで始めることができます。
      </li>
    <br>
      <li>
        筋トレを行った日はカレンダーに行った秒数を反映させることができます。可視化してモチベーション維持を保てる・・・はずです。
      </li>
    <br>
      <li>
        記録を任意で公開（投稿）することにより、ユーザー同士で記録を情報公開することができます。
      </li>
    <br>
      <li>
        ランキング形式（上位５位まで）表示されます。
      </li>
    <br>
    ぜひ上位５位を目指して筋トレが習慣化できるよう頑張りましょう！
    </ul>
  </p>
</div>
