<h2>このアプリについて</h2>
<p>
  <h4>このアプリは、ズボラな方達が使用することを大前提に作られた</h4>
  <h4>筋トレ（数分用）インターバルタイマーアプリです。</h4>
</p>
<br>
<br>
<h2>このアプリの使い方</h2>
<p>
  <h4>ログイン後、すぐにタイマー画面になるので</h4>
  <h4>測りたい時間（秒数）やセット回数を入力していただき、</h4>
  <h4>すぐに開始ボタンで始めることができます。</h4>
  <h4>また、筋トレを行った日はカレンダーに行った秒数を</h4>
  <h4>反映させることができるので、</h4>
  <h4>可視化してモチベーション維持を保てる・・・はずです。</h4>
  <h4>その記録を任意で公開（投稿）することにより、</h4></p>
  <h4>ユーザー同士で記録を情報公開することができます。</h4>
  <h4>これはランキング形式（上位５位）まで表示されるように</h4>
  <h4>なっておりますので、ぜひ上位５位を目指して</h4>
  <h4>筋トレが習慣化できるよう頑張りましょう！</h4>
</p>