/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// body{
//   font-family: HiraMinPro-W6;
//   line-height: 1.7;
//   text-align: justify;
//   color: #000000;
//   height: 100%;
//   padding: 35px;
// }

// h1 {
//   position: relative;
//   padding: 1rem 2rem calc(1rem + 10px);
//   background: #fff;
//   background-color: rgba( 243, 255, 255, 0.8);
// }

// h1:before {
//   position: absolute;
//   top: -9px;
//   left: -5px;
//   width: 100%;
//   height: 100%;
//   content: '';
//   border: 4px solid #738851;
// }
// .nav-list {
//   text-align: center;
//   padding: 10px 0;
//   margin: 0 auto;
// }

// .nav-item {
//   list-style: none;
//   text-align: inline-block;
//   margin: 0 20px;
// }

// .title{
//     margin-top: 20%;
//     text-align: center;
// }
// .about{
//     margin-top: 10px;
// }
// .use{
//     margin: 10px;
//     padding: 10px;
// }
// h4.sub{
//   margin: 10px;
//   text-align: center;
//   padding: 10%;
//   border-radius: 20px; /* 半径が5pxの角丸 */
//   background-color: #fff;
//   background-color: rgba( 243, 255, 255, 0.7);
//   border: 2px solid #738851;
// }


// /* 角丸　影（タイトル）4 */
// .kakomi-maru4 {
// position: relative;
// margin: 2em auto;
// padding: 1.2em;
// width: 90%;
// border: 2px solid #738851; /* 枠線の太さ・色 */
// color: #000000; /* 文字色 */
// background-color: #fff;
// box-shadow: 2px 2px 1px #c7c7c7;/* 影の色 */
// border-radius: 5px; /* 角の丸み */
// background-color: rgba( 243, 255, 255, 0.60 );
// background-blend-mode:lighten;
// }
// .title-maru4 {
// position: absolute;
// left: 20px; /*（left）に変更すると左 */
// top: -15px;
// padding: 0 .5em;
// font-weight: bold;
// font-size: 1.1em;
// color: #738851; /* タイトル色 */
// background-color: #fff;
// }
// .infonmation_edit_button,.unsub_button{
//     margin: 10px;
//     float: left;
// }
// input[type="text"] {
//         width: 100%;
//         height: 40px;
//     }

// input[type="password"] {
//         width: 100%;
//         height: 40px;
//     }
// input[type="email"] {
//         width: 100%;
//         height: 40px;
//     }


// //タイマー装飾
//     .btn_group {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 10%;
//       margin: 35px 0;
//     }

//     #start {
//       background-color: rgba(48, 33, 253, 0.1);
//       text-color: white;
//       margin: 5px;
//       padding: 3px;
//     }
//     #break {
//       background-color: rgba(10, 252, 83, 0.1);

//     }
//     #reset {
//       background-color: rgba(255, 51, 51, 0.1);
//       text-color: white;
//       margin: 5px;
//       padding: 3px;
//     }
//     #stop {
//       background-color: rgba(253, 143, 17, 0.1);
//       text-color: white;
//       margin: 5px;
//       padding: 3px;
//     }
//     #restart {
//       background-color: rgba(131, 10, 252, 0.1);
//       text-color: white;
//       margin: 5px;
//       padding: 3px;
//     }
//     #clock {
//       margin: 40px 0 30px 0;
//       padding: 3px;
//       display: flex;
//       position: relative;
//       justify-content: center;
//       align-items: center;
//       font-weight: bold;
//       font-size: 24px;
//       font-size: 45px;
//     }
//     .progress-ring {
//       position: absolute;
//       top: 40%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     }
//     .progress-ring＿circle {
//       transition: 0.5s;
//       transform: rotate(-90deg);
//       transform-origin: 50% 50%;
//       stroke: rgb(51, 65, 255);
//     }

//     .danger {
//       stroke: rgb(243, 17, 28);
//       animation: pulse 0.9s ease-in-out infinite;
//     }





// @charset "utf-8";
// 　　// デフォルトのスタイル
// @media screen and (min-width : 480px){
// 　　// 最小幅 480px 以上の指定
// }
// @media screen and (min-width : 765px){
// 　　// 最小幅 765px 以上の指定
// }
// @media screen and (min-width : 1024px){
// 　　// 最小幅 1024px 以上の指定
// }


// ページ全体
body {
  background-color: white;
  color: black;
  margin: 0; padding: 0;
  font-family: Meiryo, sans-serif;
}

/* リンク*/
a:link { color: #00c; }
a:visited { color: #00c; }
a:hover { color: #f00; }
a img { border: none; }

/* */
p, h1, h2, h3, table, ul {
  margin: 0 0 1em;
}

/*  */
nav ul,
ul.toolbar,
ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li,
div.toolbar li,
ul.toolbar li,
ul.links li {
  display: inline;
}

/* 全体の枠 */
div#container {
  margin: 0 auto;
  padding-top: 5px;
  width: 780px;
}

/* 左の枠 */
main {
  float: left;
  width: 530px;
  padding: 10px 10px 10px 0;
}

/* 右の枠� */
aside#sidebar {
  float: left;
  width: 230px;
  background-color: #e8ffff;
  padding: 5px;
  font-size: 86%;
}

/* 繝倥ャ繝繝ｼ */
header {
  border-top: 4px solid #6bb;
  padding-top: 4px;
}

ul.account-menu {
  text-align: right;
}

/* 繝輔ャ繧ｿ繝ｼ */
footer {
  clear: both;
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #6bb;
  text-align: center;
}

footer nav ul li:not(:last-child):after {
  color: #888;
  content: " | ";
  margin: 0 5px;
}

/* 繝｡繝九Η繝ｼ繝舌� */
nav.menubar {
  padding: 2px;
  background-color: #000;
  color: #ccc;
  font-size: 80%;
  padding: 8px 16px;
}

nav.menubar ul li:not(:last-child):after {
  color: #ccc;
  content: " | ";
  margin: 0 2px;
}

/* 繝｡繝九Η繝ｼ繝舌�縺ｮ繝ｪ繝ｳ繧ｯ */
nav.menubar a { text-decoration: none; }

/* 繝｡繝九Η繝ｼ繝舌�縺ｮ繝ｪ繝ｳ繧ｯ�域悴險ｪ蝠擾ｼ� */
nav.menubar a:link { color: #ccc; }

/* 繝｡繝九Η繝ｼ繝舌�縺ｮ繝ｪ繝ｳ繧ｯ�郁ｨｪ蝠乗ｸ茨ｼ� */
nav.menubar a:visited { color: #ccc; }

/* 繝｡繝九Η繝ｼ繝舌�縺ｮ繝ｪ繝ｳ繧ｯ�医�繧ｦ繧ｹ繧貞粋繧上○縺溘→縺搾ｼ� */
nav.menubar a:hover {
  color: #f88;
  text-decoration: underline;
}

/* 繝｡繝九Η繝ｼ繝舌�縺ｮ繝ｪ繝ｳ繧ｯ�育樟蝨ｨ縺ｮ繝壹�繧ｸ�� */
nav.menubar span {
  color: #ff8;
  font-weight: bold;
}

/* 繝｡繧､繝ｳ繧ｳ繝ｳ繝�Φ繝� */
main h1 {
  color: #88c;
  font-weight: normal;
  font-size: 150%;
  border-bottom: 2px solid #88c;
  margin-bottom: 0.5em;
}

main h2 {
  color: #99d;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccf;
}

main p {
  font-size: 90%;
  line-height: 1.5;
}

ul.toolbar,
div.toolbar {
  padding: 15px 0;
  font-size: 90%;
  text-align: right;
}

ul.toolbar li:not(:last-child):after {
  color: #888;
  content: " | ";
  margin: 0 2px;
}

/* 繧ｵ繧､繝峨ヰ繝ｼ */
form#login-form {
  font-size: 12px;
}

form#login-form div {
  padding: 2px;
  text-align: center;
}

form#login-form label {
  display: inline-block;
  width: 80px;
  text-align: center;
}

form#login-form input[type="text"],
form#login-form input[type="password"] {
  width: 120px;
}

aside#sidebar h2 {
  color: #080;
  font-weight: bold;
  border-bottom: 1px dotted #080;
  margin-bottom: 0.5em;
  font-size: 100%;
}

aside#sidebar ul {
  padding-left: 1em;
  list-style-type: none;
}

aside#sidebar li {
  margin-bottom: 0.3em;
}