/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: HiraMinPro-W6;
  line-height: 1.7;
  text-align: justify;
  color: #000000;
  height: 100%;
  padding: 35px;
  background:
  linear-gradient(135deg, #d3c496 21px, #738851 22px, #738851 24px, transparent 24px, transparent 67px, #738851 67px, #738851 69px, transparent 69px),
  linear-gradient(225deg, #d3c496 21px, #738851 22px, #738851 24px, transparent 24px, transparent 67px, #738851 67px, #738851 69px, transparent 69px)0 64px;
  background-color: #d3c496;
  background-size: 64px 128px;

}

 h1 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #fff;
  background-color:rgba( 243, 255, 255, 0.8);
}

h1:before {
  position: absolute;
  top: -9px;
  left: -8px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #738851;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-item {
  list-style: none;
  text-align: inline-block;
  margin: 0 20px;
}

.title{
    margin-top: 20%;
    text-align: center;
}
.about{
    margin-top: 10px;
}
.use{
    margin: 10px;
    padding: 10px;
}
 h4.sub{
   margin: 10px;
   text-align: center;
   padding: 10%;
   border-radius: 20px; /* 半径が8pxの角丸 */
   background-color: #fff;
   background-color:rgba( 243, 255, 255, 0.7);
   border: 2px solid #738851;
 }


/* 角丸　影（タイトル）4 */
.kakomi-maru4 {
 position: relative;
 margin: 2em auto;
 padding: 1.2em;
 width: 90%;
 border: 2px solid #738851; /* 枠線の太さ・色 */
 color: #000000; /* 文字色 */
 background-color: #fff;
 box-shadow: 2px 2px 1px #c7c7c7;/* 影の色 */
 border-radius: 8px; /* 角の丸み */
 background-color:rgba( 243, 255, 255, 0.60 );
 background-blend-mode:lighten;
}
.title-maru4 {
 position: absolute;
 left: 20px; /*（left）に変更すると左 */
 top: -15px;
 padding: 0 .5em;
 font-weight: bold;
 font-size: 1.1em;
 color: #738851; /* タイトル色 */
 background-color: #fff;
}
.infonmation_edit_button,.unsub_button{
    margin: 10px;
    float: left;
}
input[type="text"] {
        width: 100%;
        height: 40px;
    }

input[type="password"] {
        width: 100%;
        height: 40px;
    }
input[type="email"] {
        width: 100%;
        height: 40px;
    }

.time{
  margin: 30%;
  
}





 


// @charset "utf-8";
// 　　// デフォルトのスタイル
// @media screen and (min-width : 480px){
// 　　// 最小幅 480px 以上の指定
// }
// @media screen and (min-width : 768px){
// 　　// 最小幅 768px 以上の指定
// }
// @media screen and (min-width : 1024px){
// 　　// 最小幅 1024px 以上の指定
// }